{% extends "layout.html" %} {% block container %} {% import "_macros.html" as macros %}

<form action="/eliminar" method="POST" novalidate
  class="max-w-sm mx-auto mt-6 bg-neutral-primary shadow-xs rounded-lg border border-default p-5 block">
  {{ form.csrf_token }}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" name="id" value="{{ form.id.data }}" />

  <h2 class="text-xl font-bold text-heading mb-4 text-center">¿Estás seguro de eliminar este alumno?</h2>

  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-heading">Nombre</label>
    <div
      class="bg-neutral-secondary border border-default-medium text-heading text-sm rounded-base block w-full px-3 py-2.5 shadow-xs">
      {{ form.nombre.data }}
    </div>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-heading">Apellido Paterno</label>
    <div
      class="bg-neutral-secondary border border-default-medium text-heading text-sm rounded-base block w-full px-3 py-2.5 shadow-xs">
      {{ form.apaterno.data }}
    </div>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-heading">Apellido Materno</label>
    <div
      class="bg-neutral-secondary border border-default-medium text-heading text-sm rounded-base block w-full px-3 py-2.5 shadow-xs">
      {{ form.amaterno.data }}
    </div>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-heading">Teléfono</label>
    <div
      class="bg-neutral-secondary border border-default-medium text-heading text-sm rounded-base block w-full px-3 py-2.5 shadow-xs">
      {{ form.telefono.data }}
    </div>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-heading">Correo Electrónico</label>
    <div
      class="bg-neutral-secondary border border-default-medium text-heading text-sm rounded-base block w-full px-3 py-2.5 shadow-xs">
      {{ form.email.data }}
    </div>
  </div>

  <div class="flex gap-4 mt-6">
    <button type="submit"
      class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none flex-1">
      Eliminar
    </button>
    <a href="/"
      class="text-fg-brand font-medium box-border border border-default hover:bg-neutral-secondary-soft focus:ring-4 shadow-xs leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none flex-1 text-center bg-transparent">
      Cancelar
    </a>
  </div>
</form>
{% endblock %}