{% extends "layout.html" %}

{% block container %}

<div class="mb-4 px-4 py-3 bg-neutral-primary-soft rounded-base border border-default">
  <h1 class="text-2xl font-bold text-heading mb-2">Alumnos</h1>
  <p class="text-body mb-4">Aquí puedes encontrar la lista de alumnos registrados en el sistema.</p>
  <a href="/Alumnos"
    class="font-medium text-fg-brand hover:underline bg-neutral-secondary px-3 py-2 rounded-md">Registrar Nuevo
    Alumno</a>

</div>


<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-lg border border-default">
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
      <tr>
        <th scope="col" class="px-6 py-3 font-medium">
          Nombre
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          APaterno
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Correo
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Editar
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Detalles
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Eliminar
        </th>
      </tr>
    </thead>
    <tbody>
      {% for a in alumno %}
      <tr class="bg-neutral-primary border-b border-default">
        <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
          {{ a.nombre }}
        </th>
        <td class="px-6 py-4">
          {{ a.apaterno }}
        </td>
        <td class="px-6 py-4">
          {{ a.email }}
        </td>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="/modificar?id={{ a.id }}" class="font-medium text-fg-brand hover:underline">Editar</a>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="/detalles?id={{ a.id }}" class="font-medium text-fg-brand hover:underline">Detalles</a>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="/eliminar?id={{ a.id }}" class="font-medium text-fg-brand hover:underline">Eliminar</a>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}