{% extends "layout.html" %}

{% block container %}

<div class="mb-4 px-4 py-3 bg-neutral-primary-soft rounded-base border border-default">
  <h1 class="text-2xl font-bold text-heading mb-2">Alumnos</h1>
  <p class="text-body mb-4">Aquí puedes encontrar la lista de alumnos registrados en el sistema.</p>
  <a href="alumnos.html" class="font-medium text-fg-brand hover:underline">Read more</a>

</div>


<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-lg border border-default">
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
      <tr>
        <th scope="col" class="px-6 py-3 font-medium">
          Nombre
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          APaterno
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Correo
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Editar
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Detalles
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          Eliminar
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-neutral-primary border-b border-default">
        <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
          Apple MacBook Pro 17"
        </th>
        <td class="px-6 py-4">
          Silver
        </td>
        <td class="px-6 py-4">
          Laptop
        </td>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="alumnos.html" class="font-medium text-fg-brand hover:underline">Editar</a>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="alumnos.html" class="font-medium text-fg-brand hover:underline">Detalles</a>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="alumnos.html" class="font-medium text-fg-brand hover:underline">Eliminar</a>
        </th>
      </tr>
      <tr class="bg-neutral-primary border-b border-default">
        <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
          Microsoft Surface Pro
        </th>
        <td class="px-6 py-4">
          White
        </td>
        <td class="px-6 py-4">
          Laptop PC
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="alumnos.html" class="font-medium text-fg-brand hover:underline">Editar</a>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="alumnos.html" class="font-medium text-fg-brand hover:underline">Detalles</a>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="alumnos.html" class="font-medium text-fg-brand hover:underline">Eliminar</a>
        </th>
      </tr>
      <tr class="bg-neutral-primary">
        <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
          Magic Mouse 2
        </th>
        <td class="px-6 py-4">
          Black
        </td>
        <td class="px-6 py-4">
          Accessories
        </td>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="alumnos.html" class="font-medium text-fg-brand hover:underline">Editar</a>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="alumnos.html" class="font-medium text-fg-brand hover:underline">Detalles</a>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          <a href="alumnos.html" class="font-medium text-fg-brand hover:underline">Eliminar</a>
        </th>
      </tr>
    </tbody>
  </table>
</div>


{% endblock %}